Repository HerebeDragonsStudios/ts-logging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

install:
  stage: dependencies
  cache:
  - key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
    policy: push
  script:
  - npm ci --cache .npm --prefer-offline
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

pages:
  stage: deploy
  needs:
  - tests
  cache:
  - key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
    policy: pull
  - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
    paths:
    - dist/
    - lib/
    policy: pull
  - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
    paths:
    - workdocs/coverage/
  ...

2.2.14
  package-lock.json
  package.json
Due: install

refs #1 - update
  .gitlab-ci.yml
  package.json
Due: none

refs #1 - update
  package.json
Due: none

refs #1 - update
  .gitlab-ci.yml
Due: none

refs #1 - build cache not working. duplicated build
  .gitlab-ci.yml
Due: none

2.2.15
  package-lock.json
  package.json
Due: install

refs #1 - another
  .gitlab-ci.yml
Due: none

refs #1 - bug fix
  .gitlab-ci.yml
Due: none

refs #1 - one more
  .gitlab-ci.yml
Due: none

refs # 1 - test
  .gitlab-ci.yml
Due: none

refs #3 - errors now chain properly and the message is replaced immediately
  src/logging/constants.ts
  src/logging/errors.ts
  tests/unit/error-chaining.test.ts
Due: none

after release preparation
  package-lock.json
  package.json
Due: install

2.3.0
  package-lock.json
  package.json
Due: install

refs #3 - bug fix
  src/logging/errors.ts
Due: none

2.3.1
  package-lock.json
  package.json
Due: install

refs #3 - update
  package-lock.json
  package.json
  src/logging/constants.ts
Due: install

2.3.2
  package-lock.json
  package.json
Due: install

refs #5 - moves from eu to gitlab.com
  .npmrc
  README.md
  jsdocs.json
  package.json
  workdocs/1-Banner.md
Due: pages

2.4.0
  package-lock.json
  package.json
Due: install

refs #5 - fixas project number
  package.json
Due: none

after release preparation
  package-lock.json
Due: install

refs #5 - another fix
  .npmrc
  README.md
  gulpfile.js
  jsdocs.json
  package-lock.json
  package.json
  tests/after-dsu/after.dsu.test.ts
  workdocs/1-Banner.md
  workdocs/tutorials/HowToUse.md
Due: install, pages

2.4.1
  package-lock.json
  package.json
Due: install

refs #5 - update to allow binding to strings
  src/logging/utils.ts
Due: none

2.4.2
  package-lock.json
  package.json
Due: install

Add workflow glass-project1/wallet/logging
  .github/workflows/logging.yml
Due: none

Update logging.yml
  .github/workflows/logging.yml
Due: none

Update 1-Banner.md
  workdocs/1-Banner.md
Due: pages

Update 3-2-RepoStructure.md
  workdocs/3-2-RepoStructure.md
Due: pages

refs #1 - update
  .github/workflows/logging.yml
  .gitlab-ci.yml
  .npmrc
  package-lock.json
  package.json
Due: install

refs #1 - update
  .github/workflows/logging.yml
Due: none

refs #1 - update
  .github/workflows/cache_cleaner.yml
  .github/workflows/main.yml
  jsdocs.json
  workdocs/1-Banner.md
  workdocs/7-Social.md
  workdocs/99-Disclamer.md
  workdocs/Readme.md
  workdocs/tutorials/HowToUse.md
Due: pages

Path conditions:
  install: any of: package-lock.json
  pages: any of: workdocs/**/*
