Repository HerebeDragonsStudios/ts-logging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

.gitlab-ci.yml:

variables:
  FF_USE_FASTZIP: 1
  CACHE_COMPRESSION_LEVEL: "fastest"
  ARTIFACT_COMPRESSION_LEVEL: "fast"
  CACHE_REQUEST_TIMEOUT: 5
  GIT_CLEAN_FLAGS: -x -f -e lib/** dist/**

default:
  image: node:16
  before_script:
    - |
      if [[ ! -f package.json ]]; then
        echo "No package.json found! A package.json file is required to publish a package to GitLab's NPM registry."
        echo 'For more information, see https://docs.gitlab.com/ee/user/packages/npm_registry/#creating-a-project'
        exit 1
      fi
    - NPM_PACKAGE_NAME=$(node -p "require('./package.json').name")
    - NPM_PACKAGE_VERSION=$(node -p "require('./package.json').version")
    - npm ci --cache .npm --prefer-offline

stages:
  - dependencies
  - build
  - test
  - deploy

install:
  stage: dependencies
  cache:
    - key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
      policy: push
  script:
    - npm ci --cache .npm --prefer-offline
  interruptible: true
  only:
    changes:
      - package-lock.json
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

build:
  stage: build
  cache:
    - key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR\
      paths:
        - node_modules/
        - .npm/
      policy: pull
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
      policy: push
  script:
    - ls -a
    - npm run build:prod
    - ls -la
  interruptible: true  

tests:
  stage: test
  needs: ["build"]
  script:
    - ls -la
    - npm run test:ci
    - ls -la
  cache:
    - key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
      policy: pull
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
      policy: pull
    - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - workdocs/coverage/
      policy: push
  artifacts:
    when: always
    reports:
      junit:
        - workdocs/coverage/junit-report.xml
  coverage: '/^Statements.*?:.*?(\d+\.\d+)%/'
  interruptible: true

npm-deploy:
  stage: deploy
  needs: ["tests", "build"]
  cache:
    - key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
      policy: pull
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
      policy: pull
  script:
    - echo "Attempting to publish package ${NPM_PACKAGE_NAME} version ${NPM_PACKAGE_VERSION} to GitLab's NPM registry."
    - echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" > .npmrc
    - ls -la
    - npm publish --dry-run
#  only:
#    - tags
#  except:
#    - branches

pages:
  stage: deploy
  needs: ["tests"]
  cache:
    - key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
      paths:
        - node_modules/
        - .npm/
      policy: pull
    - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - dist/
        - lib/
      policy: pull
    - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
      paths:
        - workdocs/coverage/
      policy: pull
  script:
    - ls -la
    - npm run docs
    - mv docs public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - workdocs/**/*
    - if: '$CI_COMMIT_TAG'
    - when: manual
  interruptible: true
  allow_failure: true

refs #1 - update
  .github/workflows/docs.yml
  .github/workflows/main.yml
Due: none

refs #1 - u[date
  .github/workflows/docs.yml
Due: none

after release preparation
  README.md
Due: none

3.0.2
  package-lock.json
  package.json
Due: install

refs #1 - many update
  .github/workflows/cache-cleaner.yml
  .github/workflows/main.yml
  .github/workflows/npm-publish.yml
  README.md
  gulpfile.js
  jsdocs.json
  package.json
  workdocs/3-3-RepoCI.md
  workdocs/tutorials/HowToUse.md
Due: pages

0.3.3
  package-lock.json
  package.json
Due: install

refs #1 - update
  .github/workflows/main.yml
Due: none

0.3.4
  package-lock.json
  package.json
Due: install

refs #1 - test
  .github/workflows/main.yml
Due: none

0.3.5
  package-lock.json
  package.json
Due: install

refs #1 - npm update
  .github/workflows/npm-publish.yml
Due: none

refs #1 - update
  .github/workflows/main.yml
  .github/workflows/npm-publish.yml
Due: none

0.3.6
  package-lock.json
  package.json
Due: install

refs #1 - update
  .github/workflows/npm-publish.yml
  package.json
Due: none

0.3.7
  package-lock.json
  package.json
Due: install

1
  .github/workflows/main.yml
Due: none

3.0.3
  package-lock.json
  package.json
Due: install

refs #1 - update
  gulpfile.js
Due: none

after release preparation
  package-lock.json
Due: install

3.0.4
  package-lock.json
  package.json
Due: install

refs #1 - test
  .github/workflows/npm-publish.yml
Due: none

3.0.5
  package-lock.json
  package.json
Due: install

3.0.6
  package-lock.json
  package.json
Due: install

refs #1 - update
  .github/workflows/docs.yml
  package.json
Due: none

3.0.7
  package-lock.json
  package.json
Due: install

3.0.8
  package-lock.json
  package.json
Due: install

3.0.9
  package-lock.json
  package.json
Due: install

refs #1 - test
  .github/workflows/main.yml
  .github/workflows/npm-publish.yml
Due: none

3.0.10
  package-lock.json
  package.json
Due: install

3.0.11
  package-lock.json
  package.json
Due: install

3.0.12
  package-lock.json
  package.json
Due: install

after release preparation
  package-lock.json
  package.json
Due: install
