Repository HerebeDragonsStudios/ts-logging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

install:
  stage: dependencies
  cache:
  - key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
    policy: push
  script:
  - npm ci --cache .npm --prefer-offline
  interruptible: true
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure

pages:
  stage: deploy
  needs:
  - tests
  cache:
  - key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
    paths:
    - node_modules/
    - .npm/
    policy: pull
  - key: build-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
    paths:
    - dist/
    - lib/
    policy: pull
  - key: test-$CI_JOB_IMAGE-$CI_COMMIT_REF_SLUG
    paths:
    - workdocs/coverage/
  ...

refs #1 - update
  .github/workflows/cache_cleaner.yml.bck
Due: none

refs #1 - update
  .github/workflows/main.yml
Due: none

refs #1 - update
  gulpfile.js
  package.json
  src/constants.ts
  src/decorators.ts
  src/errors.ts
  src/general.ts
  src/index.ts
  src/logging/index.ts
  src/utils.ts
  src/versions.ts
  tests/after-dsu/after.dsu.test.ts
  tests/after-dsu/lib.after.dsu.require.js
  tests/integration/testAssets/octopus-freeze.json
  tests/unit/bundling.test.ts
Due: none

refs #1 - update
  .github/workflows/cache_cleaner.yml
  .github/workflows/main.yml
  README.md
  package-lock.json
  src/constants.ts
  src/decorators.ts
  src/errors.ts
  src/general.ts
  src/index.ts
  src/utils.ts
  src/versions.ts
Due: install

refs #1 - updae
  .github/workflows/main.yml
Due: none

refs #1 - update
  .github/workflows/main.yml
  .gitignore
  README.md
  gulpfile.js
  jsdocs.json
  package-lock.json
  package.json
  src/callbacks.ts
  src/constants.ts
  src/decorators.ts
  src/errors.ts
  src/general.ts
  src/index.ts
  src/utils.ts
  src/versions.ts
  tests/unit/bundling.test.ts
  workdocs/3-Repo.md
  workdocs/badges/badge-branches.svg
  workdocs/badges/badge-functions.svg
  workdocs/badges/badge-lines.svg
  workdocs/badges/badge-statements.svg
Due: install, pages

refs #1 - workings gulp docs
  gulpfile.js
  package.json
Due: none

refs #1 - fix
  .github/workflows/main.yml
  package.json
Due: none

refs #1 - fix
  .github/workflows/main.yml
Due: none

refs #1 - docs
  .github/workflows/main.yml
Due: none

refs #1 - adds git
  .github/workflows/main.yml
Due: none

refs #1 - tewst
  .github/workflows/main.yml
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Deploying to gh-pages from @ HerebeDragonsStudios/ts-logging@3f31c1b81f680d396aebfab35406c4517e48b2a0 🚀
  Callbacks.html
  Constants.html
  CriticalError.html
  Decorators.html
  Errors.html
  LoggedError.html
  Logger.html
  LoggerImp.html
  StopWatch.html
  Utils.html
  VersionTracker.html
  callbacks.ts.html
  constants.ts.html
  decorators.ts.html
  errors.ts.html
  general.ts.html
  index.html
  scripts/app.min.js
  scripts/linenumber.js
  scripts/search.js
  styles/app.min.css
  styles/iframe.css
  styles/prettify-jsdoc.css
  styles/prettify-tomorrow.css
  styles/reset.css
  tutorial-HowToUse.html
  utils.ts.html
  versions.ts.html
Due: none

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

refs #1 - update
  .github/workflows/main.yml
  package.json
  workdocs/release_notes.md
Due: pages

1one more time:
  .github/workflows/main.yml
Due: none

refs #1 - update
  .github/workflows/docs.yml
  .github/workflows/main.yml
Due: none

3.0.1
  package-lock.json
  package.json
Due: install

refs #1 - update
  .github/workflows/docs.yml
  workdocs/1-Banner.md
Due: pages

refs #1 - ci
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
Due: none

refs #1 - update
  .github/workflows/docs.yml
  workdocs/3-Repo.md
Due: pages

refs #1 - docs
  .github/workflows/docs.yml
  workdocs/3-Repo.md
Due: pages

refs #1 - update
  .github/workflows/docs.yml
  .github/workflows/main.yml
  workdocs/release_notes.md
Due: pages

refs #1 - update
  .github/workflows/docs.yml
  workdocs/release_notes.md
Due: pages

refs #1 - docs
  .github/workflows/docs.yml
  .github/workflows/main.yml
Due: none

Path conditions:
  install: any of: package-lock.json
  pages: any of: workdocs/**/*
