Repository HerebeDragonsStudios/ts-logging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, pages

.gitlab-ci.yml:

.node_cache: &cache_node_modules
  key: $CI_COMMIT_REF_SLUG-$CI_PROJECT_DIR
  paths:
    - node_modules/
    - .npm/
  policy: pull

.test-cache: &test-cache
  key: test-$CI_JOB_IMAGE
  paths:
    - workdocs/coverage/
  policy: pull-push

.build-cache: &build-cache
  key: build-$CI_JOB_IMAGE
  paths:
    - lib/
    - dist/
    - loader/
  policy: pull-push

variables:
  FF_USE_FASTZIP: 1
  CACHE_COMPRESSION_LEVEL: "fastest"
  ARTIFACT_COMPRESSION_LEVEL: "fast"
  CACHE_REQUEST_TIMEOUT: 5

default:
  image: node:16
  before_script:
    - |
      if [[ ! -f package.json ]]; then
        echo "No package.json found! A package.json file is required to publish a package to GitLab's NPM registry."
        echo 'For more information, see https://docs.gitlab.com/ee/user/packages/npm_registry/#creating-a-project'
        exit 1
      fi
    - NPM_PACKAGE_NAME=$(node -p "require('./package.json').name")
    - NPM_PACKAGE_VERSION=$(node -p "require('./package.json').version")
    - npm ci --cache .npm --prefer-offline

stages:
  - dependencies
  - test
  - build
  - deploy

install:
  stage: dependencies
  cache:
    <<: *cache_node_modules
    policy: pull-push
  script:
    - npm install
  interruptible: true
  only:
    changes:
      - package-lock.json
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

tests:
  stage: test
  script:
    - npm run test:ci
  cache:
    <<: *cache_node_modules
    <<: *test-cache
  artifacts:
    when: always
    reports:
      junit:
        - workdocs/coverage/junit-report.xml
  coverage: '/^Statements.*?:.*?(\d+\.\d+)%/'      
  interruptible: true

build:
  stage: build
  needs: ["tests"]
  cache:
    <<: *cache_node_modules
    <<: *build-cache
  script:
    - npm run build:prod

npm-deploy:
  stage: deploy
  needs: ["tests", "build"]
  cache:
    <<: *cache_node_modules
    <<: *build-cache
    policy: pull
  script:
    - echo "Attempting to publish package ${NPM_PACKAGE_NAME} version ${NPM_PACKAGE_VERSION} to GitLab's NPM registry."
    - echo "//${CI_SERVER_HOST}/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}" > .npmrc
    - npm publish
  only:
    - tags
  except:
    - branches

dsu-publish:
  stage: deploy
  needs: ["tests", "build"]
  cache:
    <<: *cache_node_modules
    <<: *build-cache
    policy: pull
  script:
    - echo "This will be replaced by a call to a workspace to handle deploying to DSU"
  only:
    - tags
  except:
    - branches

pages:
  stage: deploy
  needs: ["tests"]
  cache:
    <<: *cache_node_modules
    <<: *test-cache
    policy: pull
  script:
    - npm run docs
    - mv docs public
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - workdocs/**/*
        - docs/**/*
    - if: '$CI_COMMIT_TAG'
  interruptible: true

2.1.0
  package-lock.json
  package.json
Due: install

after release preparation
  docs/CriticalError.html
  docs/LoggedError.html
  docs/LoggerImp.html
  docs/StopWatch.html
  docs/db-decorators.errors.html
  docs/errors_index.ts.html
  docs/global.html
  docs/index.html
  docs/index.ts.html
  docs/logging.logging.Logger.html
  docs/logging.logging.html
  docs/logging_constants.ts.html
  docs/logging_decorators.ts.html
  docs/logging_errors.ts.html
  docs/logging_general.ts.html
  docs/logging_index.ts.html
  docs/logging_utils.ts.html
  docs/module-logging.html
  package-lock.json
  package.json
Due: install, pages

refs #1 - update git tag to list in the created order
  bin/tag-release.sh
Due: none

refs #1 - update
  package-lock.json
  package.json
Due: install

refs #1 - update
  package-lock.json
Due: install

after release preparation
  package-lock.json
  package.json
Due: install

2.1.1
  package-lock.json
  package.json
Due: install

after release preparation
  .gitignore
  .gitlab-ci.yml
  bin/tag-release.sh
  package-lock.json
  package.json
Due: install

2.2.0
  package-lock.json
  package.json
Due: install

refs #1 - updates
  .gitlab-ci.yml
Due: none

0.2.1
  package-lock.json
  package.json
Due: install

refs #1 - update
  package.json
Due: none

refs #1 - update
  .gitlab-ci.yml
Due: none

0.2.2
  package-lock.json
  package.json
Due: install

refs #1 - enables ci test
  .gitlab-ci.yml
Due: none

2.2.3
  package-lock.json
  package.json
Due: install

2.2.5
  package-lock.json
  package.json
Due: install

refs #1 - fixes dist
  package-lock.json
Due: install

2.2.6
  package-lock.json
  package.json
Due: install

refs #1 - update
  .npmignore
Due: none

2.2.7
  package-lock.json
  package.json
Due: install

refs #1 - propoer dist
  .npmignore
Due: none

2.2.8
  package-lock.json
  package.json
Due: install

refs #1 - trying other dist
  package.json
Due: none

2.2.9
  package-lock.json
  package.json
Due: install

after release preparation
  package-lock.json
Due: install

2.2.10
  package-lock.json
  package.json
Due: install

refs #1 - try again
  .npmignore
  package.json
Due: none

2.2.12
  package-lock.json
  package.json
Due: install

2.2.13
  package-lock.json
  package.json
Due: install

refs #1 - yupdate:
  .gitlab-ci.yml
Due: none
